.hiddenQ {
  margin-top: 20px;
}

.hiddenQ button {
  margin: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  text-align: center;
  width: 80px;
}

.hiddenQ button:hover {
  cursor: pointer;
}

.hiddenQ button.active {
  font-weight: bold;
  background-color: white;
  color: #000;
}

.addQuestion {
  margin-bottom: -10px;
  display: block;
}