.log-contextual {
  padding-left: 30px;
  border-left: 2px solid #ccc;
}
.log-avatar {
  width: 2em;
  vertical-align: top;
  display: inline-block;
}
.log-message {
  display: inline-block;
  margin-left: 2.3em;
}
.log-meta {
  margin-bottom: 5px;
}
.log-author a {
  font-weight: bold;
  font-size: 1em;
}
.log-time {
  margin-left: 0.5em;
}