.page {
  width: 100%;
  background-color: #fff;
  border-radius: 50px;
  margin-top: 60px;
  color: #0e0e0e;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.headline {
  padding: 0 50px;
}

.headline p {
  font-size: 1.1rem;
  font-weight: 100;
}

.time {
  width: 4rem;
  font-size: 0.9rem;
  color: #ccc;
  float: left;
  display: block;
}

.message {
  display: block;
  margin-left: 5rem;
}

.historyRow {
  margin: 10px 0;
}

.page h2 {
  text-align: center;
}

.page h3 {
  font-size: 0.9em;
  color: #6f6d6d;
}

.warning .message {
  color: #a00;
}

.page a {
  color: #FF4454;
}

.page a:hover {
  color: #F4A33F;
}

footer {
  text-align: center;
  font-size: 0.7em;
  margin: 20px auto 0 auto;
}