.room {
  font-size: 25px;
  padding: 10px 5px;
  display: block;
  color: #a0a0a0;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.room.active {
  color: #000;
  font-weight: bold;
}

.room:hover {
  color: #735DD0;
}
