.roomContainer {
  margin: 0 auto;
  width: 900px;
}

@media only screen and (max-width: 900px) {
  .roomContainer {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .roomContainer {
    width: 300px;
  }
}

.room {
  font-weight: bold;
  font-size: 25px;
  margin: 25px;
  padding: 60px 25px 25px 25px;
  width: 250px;
  height: 200px;
  display: inline-block;
  border-radius: 10px;
  color: #A17EDF;
  background-color: #5428AE;
  position: relative;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.room:hover {
  background-color: #0074B2;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.active {
  color: #fff;
  background-color: #5E2FB9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
