.roomContainer {
  margin: 0 auto;
  width: 900px;
}

@media only screen and (max-width: 900px) {
  .roomContainer {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .roomContainer {
    width: 300px;
  }
}

.room {
  font-weight: bold;
  font-size: 25px;
  margin: 25px;
  padding: 60px 25px 25px 25px;
  width: 250px;
  height: 200px;
  display: inline-block;
  border-radius: 10px;
  color: #A17EDF;
  background-color: #5428AE;
  position: relative;
  transition: background-color 1s ease-in-out, color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.active {
  color: #fff;
  background-color: #5E2FB9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.clear_occ {
  position: absolute;
  top: 0px;
  right: 10px;
  transform: rotate(45deg);
  cursor: pointer;
  padding: 15px;
  transition: transform 0.2s ease-in-out;
}

.active .clear_occ {
  transform: rotate(0);
}

.clear_occ path {
  transition: fill 0.2s ease-in-out;
}

.clear_occ:hover path {
  fill: #fff;
}
