a.settingsRow {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  padding: 20px 20px 40px 20px;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
}

.hiddenInput {
  font-weight: bold;
  padding-left: 10px;
}