.invalid-confidence, .valid-confidence {
  margin-left: 5px;
  color: #000;
  font-size: 0.8em;
  padding: 4px 5px;
  border-radius: 3px;
  vertical-align: text-top;
  white-space: nowrap;
}

.valid-confidence {
  background-color: #D4EEE2;
}

.invalid-confidence {
  background-color: #FAE2E2;
}

.invalid-entry {
  text-decoration: line-through;
}
